/*@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-medium.woff2") format("woff2"),
    url("../fonts/Larsseit-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-regular.woff2") format("woff2"),
    url("../fonts/Larsseit-regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}*/
